<h2>List of Products</h2>
<hr />

<table class=" table">
	<thead>
		<tr>
			<th>Id</th>

			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Rate</th>
      </tr>
	</thead>
</table>
